.row {
  .contact-option {
    float: left;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.contact-option {
  overflow: auto;
  text-align: center;
  width: 33%;

  svg {
    width: 5em;
    height: 5em;

    &:hover {
      fill: $brand-dark;
      fill: url(#grad1);
    }
  }
}

@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.contact-form {
  // margin: 1em;
  // max-width: 31.25em;
  // width: 100%;

  .input-icon {
    display: none;
    float: left;
    border: $one-px solid $brand-dark;
    background-color: $brand-dark;
    height: 100%;
    padding: .375em .75em;
    line-height: 1.42857143;
    margin: 0;
  }

  .textarea-icon {
    display: none;
    @extend .input-icon;
    line-height: 5 + 1.42857143;
    border: 0;
  }

  button {
    background-color: #fff;
    border: $one-px solid transparent;
    border-image: linear-gradient(to right, $brand-dark, $brand-light);
    border-image-slice: 1;
    color: $brand-light;
    font-size: 1.3em;
    padding: .375em .75em;

    span {
      background: -webkit-linear-gradient(left, $brand-dark, $brand-light);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 100;
    }

    &:hover {
      background: linear-gradient(to right, $brand-dark, $brand-light);
      animation: AnimationName 30s ease infinite;

      span {
        color: #fff;
        -webkit-text-fill-color: #fff;
      }
    }
  }

  input {
    border: $one-px solid transparent;
    border-image: linear-gradient(to right, $brand-dark, $brand-light);
    border-image-slice: 1;
    line-height: 1.42857143;
    margin: 0 1em 1em 0;
    padding: .375em .75em;
    max-width: 27em;
    width: 100%;
  }

  textarea {
    border: $one-px solid transparent;
    border-image: linear-gradient(to right, $brand-dark, $brand-light);
    border-image-slice: 1;
    margin-bottom: 1em;
    padding: .375em .75em;
    max-width: 27em;
    width: 100%;
  }
}

@media screen and (max-width: $mobile-breakpoint - $one-px) {
  .row {
    .contact-option {
      clear: both;
      float: none;
      margin: 1em auto;
      width: 100%;

      svg {
        fill: url(#grad1);
      }
    }
  }
}
