.row {
  .contact-option {
    float: left;
  }

  &::after {
    clear: both;
    content: '';
    display: block;
  }
}

.contact-option {
  overflow: auto;
  text-align: center;
  width: 33%;

  svg {
    width: 5em;
    height: 5em;

    &:hover {
      fill: $brand-dark;
      fill: url(#grad1);
    }
  }
}

@keyframes SpeedyGradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.contact-form {
  max-width: 31.25em;
  width: 100%;

  button {
    background-color: #fff;
    border: $one-px solid transparent;
    border-image: linear-gradient(to right, $brand-dark, $brand-light);
    border-image-slice: 1;
    color: $brand-light;
    padding: .375em .75em;

    span {
      background: -webkit-linear-gradient(left, $brand-dark, $brand-light);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-user-select: none;
      user-select: none;
    }

    &:hover {
      animation: SpeedyGradient 3s ease infinite;
      background: linear-gradient(to right, $brand-dark, $brand-light);
      background-size: 400% 400%;
      border: 0;
      padding: .375em + $one-px .75em + $one-px;

      span {
        color: #fff;
        -webkit-text-fill-color: #fff;
      }
    }
  }

  input {
    border: $one-px solid transparent;
    border-image: linear-gradient(to right, $brand-dark, $brand-light);
    border-image-slice: 1;
    box-sizing: border-box;
    line-height: 1.42857143;
    margin-bottom: 1em;
    padding: .375em .75em;
    width: 100%;
  }

  textarea {
    border: $one-px solid transparent;
    border-image: linear-gradient(to right, $brand-dark, $brand-light);
    border-image-slice: 1;
    box-sizing: border-box;
    margin-bottom: 1em;
    padding: .375em .75em;
    width: 100%;
  }
}

@media screen and (max-width: $mobile-breakpoint - $one-px) {
  .row {
    .contact-option {
      clear: both;
      float: none;
      margin: 1em auto;
      width: 100%;
    }
  }

  .contact-form {
    width: auto;
    // margin: 0 1em;
    max-width: none;
  }
}
