a {
  background-color: transparent;
  color: $brand-dark;
  text-decoration: none;
}

a:visited {
  color: $brand-light;
}

a:active, a:hover {
  text-decoration: underline;
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 2.25em;
  margin: .44em 0;
}

h2 {
  font-size: 1.875em;
  margin: .53em 0;
}

h3 {
  font-size: 1.5em;
  margin: .67em 0;
}

h4 {
  font-size: 1.125em;
  margin: .89em 0;
}

h5 {
  font-size: 1em;
  margin: 1em 0;
}

h6 {
  font-size: .75em;
  margin: 1.33em 0;
}

hr {
  border: 0;
  border-top: $one-px solid #eee;
  margin: 1em 0;
}

p {
  // margin: 0;
  // padding: 0;
  line-height: 1.4em;
}

button,
input,
optgroup,
select,
textarea {
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
}

// ul {
//   padding: 0;
//   margin: 0;
// }


.page {
  margin: $nav-height+1em auto 0;
  max-width: $desktop-breakpoint;
}

@media screen and (max-width: $desktop-breakpoint) {
  .page {
    max-width: $mobile-breakpoint;
  }
}

@media screen and (max-width: $mobile-breakpoint - $one-px) {
  .page {
    margin: $mobile-nav-height+1em auto 0;
  }
}
