.page {
  margin: $nav-height+1em auto 1em;
  max-width: $desktop-breakpoint;

  .no-margin-padding {
    margin: 0;
    padding: 0;
  }

  .meta {
    color: #aaa;
    margin-bottom: 1em;
  }

  ol,
  ul {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  ul.recent-posts {
    list-style: none;
    padding: 0;

    & > li {
      margin-bottom: 1em;
    }

    ul {
      list-style-type: disc;
    }
    ul, ol {
      ul {
        margin-top: 0;
        margin-bottom: 0;
        list-style-type: circle;
      }
    }
  }
}

a {
  svg.text {
    fill: $brand-dark;
    vertical-align: middle;
  }
  &:visited {
    svg.text {
      fill: $brand-light;
    }
  }
}

svg.one-em {
  height: 1em;
  width: 1em;
}

@media screen and (max-width: $desktop-breakpoint) {
  .page {
    max-width: $mobile-breakpoint;
    margin: $nav-height+1em auto 1em;
  }
}

@media screen and (max-width: $mobile-breakpoint - $one-px) {
  .page {
    margin: $mobile-nav-height+1em 1em 1em;
  }
}
